@import url("https://fonts.googleapis.com/css2?family=Oregano&family=Sulphur+Point:wght@300;400;700&display=swap");

/* font-family: 'Sulphur Point', sans-serif'; 
'Oregano', cursive;*/


/*a37409  704102 f2c48d bf9756 735c3f #FFF9DB  d4ae59*/

 :root {
    --primary: #d4ae59;
    --secondry: #704102;
    --fontHover: #735c3f;
    --shadowColor: rgb(224, 193, 126);
}

main {
    overflow: hidden;
    font-family: "Oregano", cursive;
    position: relative;
}

.nav {
    background-color: #FFF;
}

.nav .nav-link {
    color: var(--primary) !important;
    font-size: max(1vm, 16px);
}

.navbar {
    min-height: 80px;
    background-color: var(--secondry);
}

.navbar .navbar-nav {
    text-align: center;
}

button {
    /* background-color: #fff !important; */
    border: 0px;
}

.navbar .nav-link {
    font-size: 20px;
    color: var(--primary) !important;
    letter-spacing: 0.5px;
}

.carousel-item img {
    max-height: 400px;
}


/*starting service styles*/

section h1 {
    color: var(--primary);
    font-weight: 700;
    font-size: max(2vw, 45px);
    margin: 40px 0;
}


/* .services,
.blogs {
    width: 70%;
} */

.services .card {
    font-size: 1.4rem;
    box-shadow: 0px 6px 12px -2px var(--primary);
    overflow: hidden;
    border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -webkit-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -moz-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -ms-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -o-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
}

.services .row {
    margin-top: 50px;
}

.modal-dialog {
    margin: 0;
    max-width: 100%;
}

.modal-content>img {
    width: 100%;
    height: 400px;
}


/* .services img {
    opacity: 0.5;
    transition: all 0.2 ease-in-out;
    -webkit-transition: all 0.2 ease-in-out;
    -moz-transition: all 0.2 ease-in-out;
    -ms-transition: all 0.2 ease-in-out;
    -o-transition: all 0.2 ease-in-out;
} */


/* .services img:hover {
    opacity: 1;
} */

.card-img-top {
    border-radius: 20px 20px 0 0 !important;
    -webkit-border-radius: 20px 20px 0 0 !important;
    -moz-border-radius: 20px 20px 0 0 !important;
    -ms-border-radius: 20px 20px 0 0 !important;
    -o-border-radius: 20px 20px 0 0 !important;
}

.card-body {
    font-size: 17px;
    color: var(--fontHover);
}

.whatsappIcon {
    z-index: 100;
}

.mapDiv {
    max-height: 400px;
    overflow: hidden;
    margin-top: 80px;
}

.info {
    background-color: var(--primary);
    height: 100%;
    /* color: #fff; */
    color: var(--fontHover);
    padding-top: 55px;
    top: 0px;
    font-size: 1.2rem;
}

.info div {
    padding-top: 55px;
}

.blogs .card {
    box-shadow: 0px 6px 12px -2px var(--primary);
    text-align: justify;
    border: 0;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
}

.blogs h5 {
    top: -19px;
    background-color: var(--primary);
    padding: 6px 16px;
    border-radius: 15px;
}

.blogs p {
    font-size: 1.4rem;
}

.blogs a {
    transition: all 0.2s ease-in-out;
    color: var(--primary)
}

.blogs img {
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.blogs a:hover {
    color: var(--fontHover)
}

footer {
    background-color: var(--secondry);
    color: var(--primary);
    width: 100%;
}

footer .col {
    text-align: justify;
}

footer .clinic {
    margin-inline-start: 90px!important;
}


/*about us style*/

.doctors .card-img {
    top: -50px;
    position: absolute;
    left: 0
}

.doctors img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: var(--shadowColor) 0px 3px 8px;
}

.doctors .row {
    justify-content: center;
}

.doctors .col {
    position: relative;
    /* border: .25px solid var(--primary); */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 10px;
    box-shadow: var(--primary) 0px 6px 12px -2px, var(--shadowColor) 0px 3px 7px -3px;
}

.doctors .card-body {
    padding-top: 90px;
    height: fit-content;
}


/* contacts page*/

iframe {
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contactsCards {
    color: var(--fontHover);
    text-align: justify;
    font-size: 25px;
    border-radius: 8x;
    -moz-border-radius: 8x;
    -ms-border-radius: 8x;
    -o-border-radius: 8x;
    -webkit-border-radius: 8x;
}

.contactsCards span {
    width: 70px;
    height: 70px;
    background-color: var(--primary);
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    display: block;
}


/*blog page*/

.blogPage {
    /* background-color: var(--primary); */
    color: var(--secondry);
}

.blogPage .row:nth-of-type(odd) {
    background-color: var(--secondry);
    color: var(--primary)
}

@media (max-width: 1000px) {
    /*tab mode*/
    nav .navbar-nav {
        width: 100%;
    }
    nav .nav-item {
        width: 100%;
        padding: 5px 0;
    }
    nav .nav-link {
        text-align: center;
    }
    footer .col {
        text-align: center;
    }
    .doctors img {
        width: 100px;
        height: 100px;
    }
    .doctors h2 {
        font-size: 20px;
    }
    .doctors .card-body {
        padding-top: 50px;
        font-size: 13px;
    }
    .modal-content>img {
        height: auto;
    }
}

@media(max-width:500px) {
    /*mobile mode*/
    nav .col:last-child {
        display: none !important;
        /* visibility: hidden; */
    }
    nav .col:first-child {
        width: 100%;
        justify-content: center;
    }
    .doctors .card-img {
        top: -30px;
    }
    .doctors img {
        width: 60px;
        height: 60px;
    }
    .doctors .card-body {
        padding-top: 20px;
    }
}


/*hover styles
float-shrink-grow-pulse*/

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.hvr-shrink {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}