@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

/* font-family: 'Sulphur Point', sans-serif'; */

 :root {
    --primary: #02036f;
    --secondry: #a6a7c2;
}

main {
    overflow: hidden;
    font-family: 'Sulphur Point', sans-serif;
    position: relative;
}

.nav .nav-link {
    color: var(--primary) !important
}

.navbar {
    min-height: 80px;
    background-color: var(--primary);
    color: #fff !important;
}

button {
    /* background-color: #fff !important; */
    border: 0px;
}

.navbar .nav-link {
    color: #fff !important;
    font-size: 17px;
    letter-spacing: .5px;
    transition: .25s all;
    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    -ms-transition: .25s all;
    -o-transition: .25s all;
}

.navbar .btn {
    /* position: fixed; */
    /* bottom: 10px; */
}

.carousel-item {
    height: 200px;
}


/*starting service styles*/

section h1 {
    color: var(--primary);
    font-weight: 700;
}

.card {
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.card-img-top {
    border-radius: 20px 20px 0 0!important;
    -webkit-border-radius: 20px 20px 0 0!important;
    -moz-border-radius: 20px 20px 0 0!important;
    -ms-border-radius: 20px 20px 0 0!important;
    -o-border-radius: 20px 20px 0 0!important;
}

.card-body {
    min-height: 200px;
    max-height: 350px;
    font-size: 17px;
    color: var(--secondry)
}

.whatsappIcon {
    z-index: 100;
}

footer {
    background-color: var(--primary);
    color: var(--secondry);
    width: 100%;
    /* height: 300px; */
}

footer hr {
    width: 88% !important
}


/* contacts page*/

iframe {
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contacts {
    /* position: relative; */
}

.contactsCards {
    /* position: absolute; */
    /* bottom: -40px; */
}

.contactsCards {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


/*blog page*/

.blogPage {
    /* background-color: var(--primary); */
    color: var(--secondry);
}

@media (max-width: 1000px) {
    nav .navbar-nav {
        width: 100%;
    }
    nav .nav-item {
        width: 100%;
        padding: 5px 0;
        /* background-color: #eee; */
    }
    nav .nav-link {
        text-align: center;
    }
}