@import url("https://fonts.googleapis.com/css2?family=Oregano&family=Sulphur+Point:wght@300;400;700&display=swap");

/* font-family: 'Sulphur Point', sans-serif'; 
'Oregano', cursive;*/


/*a37409  704102*/

:root {
    --primary: #bf9765;
    --secondry: #735c3f;
    --fontHover: #f2c48d;
}

main {
    overflow: hidden;
    font-family: "Oregano", cursive;
    position: relative;
}

.nav .nav-link {
    color: var(--primary) !important;
    font-size: max(1vm, 16px);
}

.nav-item {
    text-align: center;
}

.navbar {
    min-height: 80px;
    background-color: var(--primary);
    color: #fff !important;
}

button {
    /* background-color: #fff !important; */
    border: 0px;
}

.navbar .nav-link {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.carousel-item {
    height: 200px;
}


/*starting service styles*/

section h1 {
    color: var(--primary);
    font-weight: 700;
    font-size: max(2vw, 30px);
}

.services,
.blogs {
    width: 70%;
}

.services .card {
    box-shadow: 0px 6px 12px -2px var(--primary);
    overflow: hidden;
    border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -webkit-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -moz-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -ms-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
    -o-border-radius: 30% 70% 12% 88% / 91% 8% 92% 9% !important;
}

.services img {
    opacity: 0.5;
    transition: all 0.2 ease-in-out;
    -webkit-transition: all 0.2 ease-in-out;
    -moz-transition: all 0.2 ease-in-out;
    -ms-transition: all 0.2 ease-in-out;
    -o-transition: all 0.2 ease-in-out;
}

.services img:hover {
    opacity: 1;
}

.card-img-top {
    border-radius: 20px 20px 0 0 !important;
    -webkit-border-radius: 20px 20px 0 0 !important;
    -moz-border-radius: 20px 20px 0 0 !important;
    -ms-border-radius: 20px 20px 0 0 !important;
    -o-border-radius: 20px 20px 0 0 !important;
}

.card-body {
    font-size: 17px;
    color: var(--secondry);
}

.whatsappIcon {
    z-index: 100;
}

.mapDiv {
    max-height: 300px;
    overflow: hidden;
}

.info {
    background-color: var(--primary);
    height: 100%;
    color: #fff;
    padding-top: 40px;
    top: 0px;
}

.blogs .card {
    text-align: justify;
    border: 0;
}

.blogs a {
    transition: all 0.2s ease-in-out;
    color: var(--primary)
}

.blogs a:hover {
    color: var(--fontHover)
}

footer {
    background-color: #fff;
    color: var(--secondry);
    width: 100%;
}

footer .col {
    text-align: justify;
}


/* contacts page*/

iframe {
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contactsCards {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


/*blog page*/

.blogPage {
    /* background-color: var(--primary); */
    color: var(--secondry);
}

.blogPage .row:nth-of-type(odd) {
    background-color: var(--secondry);
    color: var(--fontHover)
}

@media (max-width: 1000px) {
    nav .navbar-nav {
        width: 100%;
    }
    nav .nav-item {
        width: 100%;
        padding: 5px 0;
    }
    nav .nav-link {
        text-align: center;
    }
    footer .col {
        text-align: center;
    }
}


/*hover styles
float-shrink-grow-pulse*/

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.hvr-shrink {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}